{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": ["arn:aws:s3:::{{s3_bucket_name}}","arn:aws:s3:::{{s3_bucket_name}}/*"]
        },
        {
            "Effect": "Allow",
            "Action": ["s3:List*","s3:Get*","s3:Describe*"],
            "Resource": ["arn:aws:s3:::{{first_s3_bucket_name}}","arn:aws:s3:::{{first_s3_bucket_name}}/*"]
        }
    ]
}
